<!DOCTYPE html>
<html>
<head>
    <title>website</title>
</head>
<header>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXltA9avl_4qyHPjzD5ZFbUs9QyWI8_8oE1YVQppN4O3vgHoLsUCm20YL1&s=10" alt="Logo" width="80">
    
</header>
<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXltA9avl_4qyHPjzD5ZFbUs9QyWI8_8oE1YVQppN4O3vgHoLsUCm20YL1&s=10'); background-size: cover; background-repeat: no-repeat; background-position: center;"></body>
<body>

    <h1 style="color: rgb(12, 234,100);font-family: cursive; size: 10px;">Banglore PG's</h1>
<center>
    <form action="/hello" method="POST">
        <input type="text" name="name" placeholder="Enter your name"onkeydown="return event.key != 'Enter';">
        <br><br>
        <input type="number" name="age" placeholder="Enter your age" size="40">
        <br>
        <br>
        <center>
        <input type="text" name="college" placeholder="Enter your college">
        </center>
        <br>
        <button type="submit">Submit</button>
        <br>
        <br>
        <button type="button" onclick="window.close()">Exit</button>
        <style>
            body {
                background-color: darkred;
            }
            h1 {
                color: rgb(10, 224, 49);
                text-align: center;
            }
            </style>
    </form>
</center>
</body>
</html>
